<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050031393449-rdta4i1k0v54sgnggut6b6duhmod6u8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050031393449-rdta4i1k0v54sgnggut6b6duhmod6u8r</string>
	<key>API_KEY</key>
	<string>AIzaSyCv2Lv7fXO-7NbwmvqHMDcdqRA_UtKkkIc</string>
	<key>GCM_SENDER_ID</key>
	<string>1050031393449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-4451e</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-4451e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050031393449:ios:dca7ddad75835eab8737b8</string>
</dict>
</plist>